[submodule "LLM-Architecture-Explained"]
	path = LLM-Architecture-Explained
	url = https://github.com/LLM-Explained/LLM-Architecture-Explained.git
[submodule "LLM-Infrastructure-Explained"]
	path = LLM-Infrastructure-Explained
	url = https://github.com/LLM-Explained/LLM-Infrastructure-Explained.git
[submodule "LLM-Algorithm-Explained"]
	path = LLM-Algorithm-Explained
	url = https://github.com/LLM-Explained/LLM-Algorithm-Explained.git
